// font-family: 'Berkshire Swash', cursive;
// font-family: 'Nanum Gothic Coding', monospace;

// ------------------------------------------
// Typography
// ------------------------------------------
body {font-family: $mono; font-size: 1em;}

p {
    line-height: 1.4;
}

@include headings() {
    font-family: $serif;
    line-height: 1.2;
    overflow-wrap: break-word;
}

a {
    color: inherit;
    text-decoration: underline;
    display: inline-block;

    &:visited {
        color: color(gray);
    }

    &:hover {
        text-decoration: none;
    }

    &:active {
        border: 2px dotted color(white);
    }
}

ul {
    list-style: none;

    &.vertical-list {
        > li + li {
            margin-top: $base_spacing;
        }
    }

    &.horizontal-list {
        > li + li {
            margin-left: $base_spacing;
        }
    }

    &.bullets {
        list-style: square;
    }
  }

  .logo {
      font-size: 4.6875rem; //75px
  }

  @include headings(2){
      font-size: 3.75rem; //60px
  }

  @include headings(3){
      font-size: 1.5625rem; //25px;
  }

  @include headings(3,6) {
      font-style: italic;
  }