// ------------------------------------------
// Colors
// ------------------------------------------
$colors: (
    pink: #d63043,
    peach: #ff6f59,
    orange: #ffa13e,
    black: #1d1e18,
    gray: #363537,
    white: #fffef4
);

// ------------------------------------------
// Fonts
// ------------------------------------------
$serif: 'Berkshire Swash', cursive;
$mono: 'Nanum Gothic Coding', monospace;

// ------------------------------------------
// Spacing
// ------------------------------------------
$base_spacing: 8px;
$half_spacing: calc(#{$base_spacing} / 2); //4px
$base_x_2: calc(#{$base_spacing} * 2); //16px
$base_x_3: calc(#{$base_spacing} * 3); //24px
$base_x_4: calc(#{$base_spacing} * 4); //32px
$base_x_5: calc(#{$base_spacing} * 5); //40px

// ------------------------------------------
// Breakpoints
// ------------------------------------------
$breakpoints: (
	small: 37.5em, //600px
	medium: 48em, // 768px
	large: 64.0625em, // 1024px
	xlarge: 100em, //1600px
);

// ------------------------------------------
// Row Widths
// ------------------------------------------
$row-widths: (
	base: 1024px,
	narrow: 900px, 
	wide: 1200px
);