// ------------------------------------------
// Colors
// ------------------------------------------
$colors: (
    pink: #d63043,
    peach: #ff6f59,
    orange: #ffa13e,
    black: #1d1e18,
    gray: #363537,
    white: #fffef4
);

// ------------------------------------------
// Breakpoints
// ------------------------------------------
$breakpoints: (
	small: 37.5em, //600px
	medium: 48em, // 768px
	large: 64.0625em, // 1024px
	xlarge: 100em, //1600px
);

// ------------------------------------------
// Row Widths
// ------------------------------------------
$row-widths: (
	base: 1024px,
	narrow: 900px, 
	wide: 1200px
);